.testContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.cont {
  width: 150px;
  height: 150px;
  padding: 10px;
  background-color: darkblue;
  border-radius: 5px;
}

.conto {
  width: 150px;
  height: 150px;
  padding: 10px;
  background-color: darkslategray;
  border-radius: 5px;
  margin-top: 40px;
}

.cont-last {
  width: 150px;
  height: 150px;
  padding: 10px;
  background-color: darkred;
  border-radius: 5px;
  margin-top: 40px;
}

.main-btn button {
  margin-bottom: 30px;
  margin-left: 10px;
  padding: 7px 20px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  background-color: slateblue;
  color: white;
  font-family: 'inter', sans-serif;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.33s;
}

.btn {
  margin-top: 20px;
}

.btn button {
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 7px 20px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  background-color: slateblue;
  color: white;
  font-family: 'raleway', sans-serif;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.33s;
}

button:active {
  scale: 95%;
}

button:hover {
  opacity: 0.5;
}
